body {
  background-image: url
  ("
http://www.wallpapershunt.com/user-content/uploads/wall/o/99/Above-White-Clouds-Widescreen-Wallpaper-WallpapersHunt.com-.jpg
  ");
  color: #733;
}

h1 {
  font-size: 1.1em;
}

li {
  font-size: 0.9em;
}
