body {
  width: 960px;
  font-family: sans-serif;
  color: #0cc;
  background: #33aabb;
  background-image: url("http://www.amorera.org/images/above-clouds.jpg");
  background-attachment: fixed;
  background-size: cover;
}

a {
    color: #0f7878;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    width: 350px;
    margin: 3em auto;
    padding: 1em;    
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    box-shadow: 0 0 1em #fcc;
    background-color: rgba(255, 255, 255, 0.35);
    text-align: center;
}

article h1 {
    margin: 0.3em;
    font-size: 1.3em;
    font-weight: normal;
    font-family: serif;
    color: #0cc;
}

h1 {
  font-size: 1em;
  color: #ff7193;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 0.9em;
  color: #099;
  transition: 0.5s;
}

span {
  display: block;
}

.hidden {
  display: none;
}

li:hover .hidden{
  display: block;
  position: right;
}
